* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back-part {
  background-image: linear-gradient(45deg, rgb(6, 205, 240), rgb(24, 51, 59));
  height: 100vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#result {
  background-color: white;
  width: 225px;
  height: 35px;
  margin: 5px;
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 5px;
  border-radius: 5px;
}

.calculator {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  padding: 15px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: rgb(31 ,31 ,31);
  cursor: pointer;
  border: none;
  color: #fff;
  margin: 3px;
}

button:hover {
  background-color: black;
}

.equals-button {
  height: 106px;
}

.zero {
  width: 106px;
}